@import url(./common.css);

.table-content .avatar {
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.action-container{
  display: flex !important;
  flex-direction: column;
}

.action-container button {
  margin: 2px 0px;
}