* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

:root {
  --light-orange: #FFBA00;
  --orange: #FF8800;
  --dark-orange: #ED570E;
  --back-ground: #F4F4F4;
}

ul {
  list-style: none;
}


.main-container {
  background-color: #f4f4f4;
  padding: 12px 120px;
}

.content-container {
  display: grid;
  grid-template-columns: 68fr 32fr;
  column-gap: 16px;
}

.content-container .left-col,
.content-container .right-col {
  width: 100%;
  min-width: 0px;
}

.section {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.section.link {
  margin-bottom: 20px;
}

.section .section-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* AUTH */

